.action-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.action-button {
  width: 100%;
  border: #e74f3c;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
