<main class="main">
  <div class="content">
    <div class="action-container">
      <button
        [class.spinner]="isLoading"
        [disabled]="isLoading"
        mat-fab
        extended
        class="action-container__button"
        (click)="setOnAction(progressStepper)"
      >
        <mat-icon>{{ currentTask[progressStepper].icon }}</mat-icon>
        {{ currentTask[progressStepper].label }}
      </button>
    </div>
    <div class="cards-container">
      <app-player-card [attributes]="firstAttributes" />
      <app-player-card [attributes]="secondAttributes" />
    </div>
    <app-settings (menuEvent)="triggerActionOnMenu($event)" />
  </div>
</main>
